.input-group {
  display: flex;
  flex-direction: column;
  label {
    display: block;
    margin-bottom: 5px;
  }
  label.error {
    color: red;
  }
  input {
    height: 30px;
    font-size: 20px;
  }
  input.error {
    border: 1px solid red;
  }
}
