:root {
  --color-primary: #0d0221;
  --color-secondary: #a6cfd5;
  --color-additional: #26408b;
  --color-secondary-dark: #0f084b;
  --color-light-blue: #aed8e6;
  --color-black: #000000;
  --color-white: #ffffff;
}
