.order-section {
  border: 1px solid var(--color-light-blue);
  margin-bottom: 20px;
}
.order-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: var(--color-light-blue);
  font-weight: bold;
}

.show-more {
  background: var(--color-light-blue);
  padding: 10px;
  text-align: center;
  cursor: pointer;
}

.order-item-info {
  img {
    width: 100%;
  }
}

.no-orders-text {
  text-align: center;
}
